:root {
  --brand: #ef4723;
  --black: #1d2327;
  --white: #fff;
  --ff-sans: 'IBM Plex Sans', Arial, sans-serif;
  --error-color: #dd222e;
  --success-color: #155724;
  --warning-color: #ebcb6a;
  --info-color: #0bbad9;
  --gap-xs: 0.5rem;
  --gap-sm: 1rem;
  --gap-md: 2rem;
  --gap-lg: 4rem;
  font-family: var(--ff-sans);
  line-height: 1.5;
  font-weight: 400;
}

#app {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
